.jumbotron {
	color: rgba(108, 139, 101, 1);
	background: rgba(235, 255, 183, 1);
}

.display-5 {
	text-align: center;
	
}
	
body {
	background-image: url("wood.jpg");
	background-size: cover;
    background-position: center;
}

.main {
	color:white;
}
