body {
	background-image: url("wood.jpg");
	background-size: cover;
    background-position: center;
	cursor: url('leaf_logo.png'), default;
}

.jumbotron {
	color: rgba(108, 139, 101, 1);
	background: rgba(235, 255, 183, 1);
	font-family: 'Maiden Orange', cursive;
	text-align: center;
}

.col-md-8 {
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	color: white;
}

.jumbotron .col-md-6 {
	text-align: center;
	display: inline-grid;
	padding-left: 100px;
}


.pagetitle {
	font-family: 'Maiden Orange', cursive;
	color: white;
	text-align: center;
}

.restaurant {
	font-family: 'Maiden Orange', cursive;
	font-size: large;
	color: white;
}

.main {
	color:white;
	font-family: 'Josefin Sans', sans-serif;
}

.form {
	color:rgba(108, 139, 101, 1);
}
